# Advent of Code 2022: Day 4
https://adventofcode.com/2022/day/4

## Part 1
Find pairs of ranges where one range fully contains the other

### Get the data into a list of strings

In [27]:
myfile = open('input.txt', 'r')
data = myfile.read()
data_list = data.split('\n')  # One observation: '33-62,26-62'

### Get a new list, with the strings split on the comma

In [28]:
data_lists = []
for i in data_list:
  data_lists.append(i.split(',')) # One observation: ['33-62', '26-62']

### Extract integers and compare lower and upper bounds to see if the pairs overlap

In [30]:
result = 0
for pair in data_lists:
  range1 = pair[0].split('-') # One observation: ['33', '62']
  range2 = pair[1].split('-') # One observation: ['26', '62']

  l1 = int(range1[0]) # One observation: 33
  u1 = int(range1[1]) # One observation: 62
  l2 = int(range2[0]) # One observation: 26
  u2 = int(range2[1]) # One observation: 62

  if (l1 <= l2) and (u1 >= u2):   # l1 ... l2 ... u2 ... u1 
    result += 1
  elif (l2 <= l1) and (u2 >= u1): # l2 ... l1 ... u1 ... u2
    result += 1
result

588

## Part 2
Find pairs of ranges where one range overlaps with another

In [31]:
result2 = 0
for pair in data_lists:
  range1 = pair[0].split('-')
  range2 = pair[1].split('-')

  l1 = int(range1[0])
  u1 = int(range1[1])
  l2 = int(range2[0])
  u2 = int(range2[1])

  if (l1 <= l2) and (u1 >= l2):   # l1 ... l2 ... u1
    result2 += 1
  elif (l1 >= l2) and (l1 <= u2): # l2 ... l1 ... u2
    result2 += 1
result2

911